{% extends "base.html.twig" %}
{% block body %}
        <section class="container card" style="margin-top:10px!important;">
            <div class="row mask aqua-gradient-rgba">
                <h1 class="mx-auto font-weight-bold white-text"> Formulaire - Transfert d'argent</h1>
            </div>
            <div class="row mask" style="border-bottom:2px solid grey">
                <h3 class="font-weight-bolder pt-3 pr-0 ml-0 pl-0 col-md-7 text-center"> <u>Expéditeur</u></h3>
                {{ form_start(form, {'attr':{'id':'operation'}}) }}
                <div class="row text-black-50" style="border-left:2px solid;">
                    <div class="md-form col-md-6 mx-auto">
                        {{ form_row(form.destinateur) }}
                    </div>
                    <div class="md-form col-md-6 mx-auto">
                        {{ form_row(form.telsender) }}
                    </div>

                </div>
            </div>
            <div class="row mask" style="border-bottom:2px solid grey">
                <h3 class="font-weight-bolder pt-3 pr-0 ml-0 pl-0 text-center col-md-7"> <u>Destinataire</u></h3>
                <div class="row text-black-50" style="border-left:2px solid;">
                    <div class="md-form col-md-6 mx-auto">
                        {{ form_row(form.destinataire) }}
                    </div>
                    <div class="md-form col-md-6 mx-auto">
                        {{ form_row(form.tel) }}
                    </div>

                </div>
            </div>
            <div class="font-weight-bold text-black-50 mx-auto">
                {{'now'|date('d / m / Y')}}
            </div>
            {% if app.user.agency %}
                <div class="mx-auto text-center font-weight-bold">
                    <h5 class="font-weight-bold"> {{app.user.agency}}</h5>
                </div>
            {% endif %}
            <div class="container">
                <div class="mx-auto">
                    <div class="row font-weight-bold">
                        <div class="row mx-auto align-items-center justify-content-center col-md-12">
                            <div class="md-form mx-auto col-md-4 justify-content-center align-items-center">
                                {{ form_row(form.montant) }}
                            </div>
                            <div class="md-form mx-auto col-md-4 justify-content-center align-items-center">
                                <input class="col-md-8" type="number" step=0.01 name="tauxEchange" required="required" id="tauxEchange" placeholder="Taux d'échange ex: 8.60">
                            </div>
                            <div class="md-form mx-auto col-md-4 justify-content-center align-items-center">
                                {{ form_row(form.frais) }}
                            </div>
                        </div>
                        <div class="form-check form-check-inline col-md-12 justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="status" value="NON" />
                            <label class="form-check-label" for="inlineCheckbox1" id="f">Frais payés à la réception.(par défaut)</label>
                        </div>
                            {% if not app.user.agency %}
                                <div class="col-md-4 m-auto ">
                                    <select name="agencySetByAdmin" id="agencySetByAdmin" class="form-control md-form form-select">
                                        <option disabled selected>Choix Agence d'envoi</option>
                                        {% for agency in agencies %}
                                        <option value="{{ agency.id }}" class="form-control form-select">{{ agency.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <h6 style="display:none;" id="showAgencySeyByAdmin">Solde: <span id="caisseAgencySetByAdmin" class="font-weight-bold"> </span> FCFA</h6>
                                </div>
                            {% endif %}
                            {% if not app.user.agency or app.user.agency.name == "CI II" %}
                                <div class="col-md-4 m-auto"
                                     style="
                                         {% if not app.user.agency %}
                                            {{  'display:none;' }}
                                         {% elseif app.user.agency.name == "CI II" %}
                                            {{ 'display:true;' }}
                                           {% endif %}
                                             "
                                     id="referenceField">
                                    <input type="text" name="reference" id="referenceInput"
                                           placeholder="Ref Ex: Le/15/07/ 2025Z. C / CODE /1635"
                                           class=" form-control justify-content-between mx-auto"
                                            {% if  app.user.agency and app.user.agency.name == "CI II" %}
                                                {{  "required = 'required'"}}
                                            {% endif %}
                                    >
                                </div>
                            {% endif %}
                            <div class="col-md-4 m-auto">
                                {{ form_row(form.transagency) }}
                                <h6 style="display:none;" id="show">Solde: <span id="caisse" class="font-weight-bold"> </span> FCFA</h6>
                            </div>


                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn aqua-gradient btn-rounded font-weight-bold mx-auto" id="import">Valider</button>
                </div>
                {{ form_end(form) }}
            </div>
        </section>
{% endblock %}
{% block ScriptP %}
    <script>
        $(document).ready(function(){
            //$('.mdb-select').materialSelect();
            $("#inlineCheckbox1").click(function(){
                if($(this).is(":checked")){
                    $("#f").text("Frais payés à l'envoi.");
                    $(this).val("OUI");
                }else if($(this).is(":not(:checked)")){
                    $("#f").text('Frais payés à la réception.');
                    $(this).val("NON");
                }
            });

            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [year, month, day].join('-');
            }

            function getSolde(agency, $type){

              $.ajax({
                method: 'GET',
                url: '{{path("getagency", {"id":'+'})}}'+agency,
                asyn: false,
                dataType: 'json',
                success: function(response){
                    //console.log(response);
                    if(response && $type == "recepAgency" )
                    {
                        $('#caisse').html(response['solde']);
                        $('#show').css('display','');

                    }
                    if(response && $type == "sendAgency" )
                    {
                        $('#caisseAgencySetByAdmin').html(response['solde']);
                        $('#showAgencySeyByAdmin').css('display','');
                        if(response['name'] == "CI II") {
                            $('#referenceField').css('display', '')
                            $('#referenceInput').attr('required', 'required')
                        }else {
                            $('#referenceField').css('display', 'none')
                            $('#referenceInput').attr('required', false)
                        }
                    }
                },
                error: function(error)
                {
                    console.log(error);
                }
              });

           }
           $('#transfertc_transagency, #transfert_transagency').change(function(){
               var agency = $(this).val();
               getSolde(agency, "recepAgency");
           });
            $('#agencySetByAdmin').change(function () {
                let agency = $(this).val();
                getSolde(agency, "sendAgency")
            });



        })
    </script>
{% endblock %}
